* {
    box-sizing: border-box;
  }

body{
  background-color:greenyellow;
  }


.logo {
    width: 10%;
    height: 10%;
    vertical-align: center;

}

.maincontainer{
    display:grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows:auto auto auto;
    
  }
  
  figure{
    border: 8px solid red;
    text-align:center;
    border-radius:30px;
  }
  figure:first-child{
    grid-column: 1/3;  
  }

 @media (max-width:500px){
  .maincontainer{
  display:block;
  }
 }

addition