* {
    box-sizing: border-box;
  }


.header {
    -moz-text-size-adjust: 5%;
}

.logo {
    width: 10%;
    height: 10%;
    vertical-align: center;

}

.headerbanner {
    text-align: center;
    border: 3px solid red;
    background-color:chartreuse;
    margin: 2%;
}
 
.choose {
    border: 3px solid seagreen; 
    height: 30%;
    width: 50%;
    text-align: center;
    margin: 2%;
}

.cart {
    border: 3px solid rgb(37, 154, 184); 
    height: 30%;
    width: 50%;
    text-align: center;
    margin: 2%;  
}

.wrapper{
    display: flex;
    flex-direction:row;
}

.payment{
    border: 3px solid rgb(137, 46, 139); 
    height: 30%;
    width: 80%;
    text-align: center;
    margin: 2%;
}